#header{
	display: flex;
	align-items: center;
	justify-content: center;
}

#content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mycanvas {
  background-color: #607D8B;
  margin-top: 2rem;
}